@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: local('Rajdhani'), url(./fonts/Helvetica.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: local('Rajdhani'), url(./fonts/Helvetica-Bold.ttf) format('truetype');
}

body{
  font-family: Helvetica;
}

.makebold{
  font-family: Helvetica-Bold;
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}